# build folder
/out
/build

# cmake
/CMakePresets.json

# IDE
/.vs
/.vscode

# Assets
/assets/Drones/*/build
/assets/Drones/*/Debug
/assets/Drones/*/Release
/assets/Drones/*/modelData
/benchmarks

#rust example
/assets/Drones/testDrone/src/rust_example/target
/assets/Drones/testDrone/src/rust_example/Cargo.lock

# agentic workflows
/.agents